{% extends 'layouts/page.twig' %}

{% block content %}
<div class="container">
  <h1>iOS, Android以外はこっちだよー</h1>
  <p>FacebookMessengerボットのURLボタンで、iOS、Androidとそれ以外のそれぞれの環境でURLを振り分けることができる。</p>
  <form action="">
    <div class="form-group">
      <label for="comment">コメントくれ！</label>
      <textarea id="comment" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-default">押しても何もおきないけどね</button>
    </div>
  </form>
</div>
{% endblock %}
