{% extends 'layouts/page.twig' %}

{% block content %}
<div class="container">
  <h1>{{query.last_name}} {{query.first_name}}さん、よくきたね</h1>

  <form action="">
    <div class="form-group">
      <label for="comment">コメントくれ！</label>
      <textarea id="comment" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-default">Submitしたら小窓が閉じるよ</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script>
  window.extAsyncInit = function() {
    // ユーザーID
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
      $.post('{{path_for("ajax")}}', uids);
    }, function error(err) {      
      // TODO: エラー処理 
    });

    // なにもしない関数
    var noOp = function() {};

    // フォームでsubmitしたらWebviewを閉じる
    $('form').on(
      'submit',
      function() {
        MessengerExtensions.requestCloseBrowser(noOp, noOp);
      }
    );
  };
</script>

{% endblock %}
