{% extends 'layouts/page.twig' %}

{% block content %}
<div class="container">
  <h1>hello</h1>

  <div class="fb-send-to-messenger" 
    messenger_app_id="{{app_id}}" 
    page_id="{{page_id}}" 
    data-ref="areareareare" 
    color="blue" 
    size="xlarge"></div>
</div>
{% endblock %}
